<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    <nav class="navbar navbar-light" style="background-color: #5bb75b;">
        <a class="navbar-brand" href="#" style="color: #ffffff;">
            <img src="../assets/images/edu.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            สำนักบริการคอมพิวเตอร์
        </a>

    </nav>
    
    <div class="row">
        <div class="col-7"> <img src="../assets/images/KPlan.gif" width="900px" height="900px">
        </div><br><br>
        <div class="col-5 ">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link" (click)="reserving()">จองใช้เครื่อง</a>
                </li>
                        <li class="nav-item">
                          <a class="nav-link active">จัดการจอง</a>
                        </li>
                        
                      </ul>
                      <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab" style="text-align: center;">
                             <!-- <input class="form-control" type="text" style="width:200px" placeholder="Username">&nbsp;&nbsp;
                             <input class="form-control" type="text" style="width:200px" placeholder="Password">&nbsp;&nbsp;
                             <button class="btn"> ค้นหา </button>    -->
                             <div class="row">  
                              <div>
                                  <input class="form-control" type="text" style="width:200px" placeholder="Username">
                              </div>
                              <div style="padding-left: 1em">
                                  <input class="form-control" type="text" style="width:200px;" placeholder="Password">
                              </div>
                              <div style="padding-left: 1em">
                                  <button class="btn"> Login </button>
                              </div>
                             </div>
                        </div>
                        <br>
                        <table class="table table-sm">
                            <thead>
                              <tr>
                                <th scope="col" style="text-align: center;">ลำดับ</th>
                                <th scope="col" style="text-align: center;">วันที่</th>
                                <th scope="col" style="text-align: center;">เวลา</th>
                                <th scope="col" style="text-align: center;">หมายเลขเครื่อง</th>
                                <th scope="col" style="text-align: center;">แก้ไข/ยกเลิก</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row" style="text-align: center;">1</th>
                                <td style="text-align: center;">16/2/2562</td>
                                <td style="text-align: center;">13.30 - 15.30</td>
                                <td style="text-align: center;">A1</td>
                                <td>
                                  <button class="btn">แก้ไข</button>&nbsp;
                                  <button class="btn">ยกเลิก</button>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row" style="text-align: center;">2</th>
                                <td style="text-align: center;">18/2/2562</td>
                                <td style="text-align: center;">09.30 - 11.30</td>
                                <td style="text-align: center;">G1</td>
                                <td>
                                    <button class="btn">แก้ไข</button>&nbsp;
                                    <button class="btn">ยกเลิก</button>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row" style="text-align: center;">3</th>
                                <td style="text-align: center;">23/2/2562</td>
                                <td style="text-align: center;">15.30 - 16.30</td>
                                <td style="text-align: center;">D1</td>
                                <td>
                                    <button class="btn">แก้ไข</button>&nbsp;
                                    <button class="btn">ยกเลิก</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                      </div>

    <br>
            <!-- <div class="table-responsive-sm">
                <table class="table table-sm table-fixed" style="text-align: left;">
                    <tbody>
                        <tr>
                            <th colspan="2" class="thead-light" style="text-align: center;">คำอธิบาย</th>
                        </tr>
                        <td style="text-align: left;">Zone A1-A32</td>
                        <td>เครื่อง PC Window</td>
                        <tr>
                            <td>Zone B1-B51</td>
                            <td>เครื่อง PC Window</td>
                        </tr>
                        <tr>
                            <td>Zone C1-C22</td>
                            <td>เครื่อง PC Window</td>
                        </tr>
                        <tr>
                            <td>Zone D1-D24</td>
                            <td>เครื่อง Mac</td>
                        </tr>
                        <tr>
                            <td>Zone E1-E9</td>
                            <td>โต๊ะเปล่า</td>
                        </tr>
                        <tr>
                            <td>Zone F1-F12</td>
                            <td>โต๊ะเปล่า</td>
                        </tr>
                        <tr>
                            <td>Zone E1-E9</td>
                            <td>เครื่อง PC Window</td>
                        </tr>
                        <tr>
                            <td>Zone G1-G7</td>
                            <td>เครื่อง Scanner + คอมพิวเตอร์ สำหรับสแกน 2 ชั่วโมง</td>
                        </tr>
                        <tr>
                            <td>Zone P1-P2</td>
                            <td>เครื่องสำหรับจองใช้ออก Internet</td>
                        </tr>
                        <tr>
                            <td>Zone S1-S10</td>
                            <td>เครื่องเปล่า</td>
                        </tr>
                    </tbody>
                </table>
            </div> -->

        </div>
    </div>
</body>