<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<nav class="navbar navbar-light" style="background-color: #5bb75b;">
    <!-- <img src ="../assets/images/edu.jpg" width="30px;" height="30px;"> -->
    <span style="color: #ffffff;">สำนักบริการคอมพิวเตอร์</span>
          </nav>
<div align="center" style="padding-top: 80px">
  <div class="card" style="width: 80rem;height: 30rem;">
    <div class="card-body" style="padding-top: 80px;">


      <a href="../assets/pdf/ss.pdf" target="_blank"> <button type="submit" class="btn"
          style="margin-right:300px">คู่มือ</button></a>
      <button type="submit" class="btn" style="margin-left:300px" (click)="Manage()">จัดการการจอง</button>

      <br><br>
      <label> เลือกวันเวลาที่ต้องการ </label>
      <div class="form-group">
        <input type="date" class="form-control" style="width: 300px;" placeholder="Date">
      </div>
      <div class="form-group">
        <select class="form-control" style="width: 300px;">
          <option>08.00</option>
          <option>09.00</option>
          <option>10.00</option>
          <option>11.00</option>
          <option>12.00</option>
          <option>13.00</option>
          <option>14.00</option>
          <option>15.00</option>
          <option>16.00</option>
        </select>
      </div>

      <div class="radio">
        <label><input type="radio" name="optradio" checked>&nbsp;1 ชั่วโมง</label>&nbsp;
        <label><input type="radio" name="optradio">&nbsp;2 ชั่วโมง</label>&nbsp;
        <label><input type="radio" name="optradio">&nbsp;3 ชั่วโมง</label>
      </div>
      <button type="submit" class="btn" (click)="Reserving()">จอง</button>
    </div>
  </div>
</div>