        
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>

    <nav class="navbar navbar-light" style="background-color: #5bb75b;">
        <a class="navbar-brand" href="#" style="color: #ffffff;">
            <img src="../assets/images/edu.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            สำนักบริการคอมพิวเตอร์
        </a>
    </nav>
    <div class="row">
        <div class="col-7"> <img src="../assets/images/KPlan.gif" width="900px" height="900px">
        </div><br><br>
        <div class="col-5 ">
               
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active">จองใช้เครื่อง</a>
        </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="manage()" >จัดการจอง</a>
                </li>
                
              </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab" style="text-align: center;">
                         
                            <p> เลือกวันเวลาที่ต้องการ </p>
                                <div class="radio ">
                                        <label><input type="radio" name="optradio" checked >&nbsp;1 period</label>&nbsp;
                                        <label><input type="radio" name="optradio" >&nbsp;2 period</label>&nbsp;
                                        <label><input type="radio" name="optradio">&nbsp;3 period</label>
                                      </div>
                                <div class="form-group col-2" style="text-align: center;">
                                  <input type="date" class="form-control" style="width: 200px; margin-left: 170px;"  placeholder="Date"><br>
                         
                                  <select class="form-control" style="width: 200px; margin-left: 170px;" >
                                        <option>08.00</option>
                                        <option>09.00</option>
                                        <option>10.00</option>
                                        <option>11.00</option>
                                        <option>12.00</option>
                                        <option>13.00</option>
                                        <option>14.00</option>
                                        <option>15.00</option>
                                        <option>16.00</option>
                                      </select><br>
                                      <button type="submit" class="btn" style="width: 200px; margin-left: 170px;"  (click)="Reserving()">จอง</button>
                                </div>
                                
                
        
    <br>
            <!-- <div class="table-responsive-sm">
                <table class="table table-sm table-fixed" style="text-align: left;">
                    <tbody>
                        <tr>
                            <th colspan="2" class="thead-light" style="text-align: center;">คำอธิบาย</th>
                        </tr>
                        <td style="text-align: left;">Zone A1-A32</td>
                        <td>เครื่อง PC Window</td>
                        <tr>
                            <td>Zone B1-B51</td>
                            <td>เครื่อง PC Window</td>
                        </tr>
                        <tr>
                            <td>Zone C1-C22</td>
                            <td>เครื่อง PC Window</td>
                        </tr>
                        <tr>
                            <td>Zone D1-D24</td>
                            <td>เครื่อง Mac</td>
                        </tr>
                        <tr>
                            <td>Zone E1-E9</td>
                            <td>โต๊ะเปล่า</td>
                        </tr>
                        <tr>
                            <td>Zone F1-F12</td>
                            <td>โต๊ะเปล่า</td>
                        </tr>
                        <tr>
                            <td>Zone E1-E9</td>
                            <td>เครื่อง PC Window</td>
                        </tr>
                        <tr>
                            <td>Zone G1-G7</td>
                            <td>เครื่อง Scanner + คอมพิวเตอร์ สำหรับสแกน 2 ชั่วโมง</td>
                        </tr>
                        <tr>
                            <td>Zone P1-P2</td>
                            <td>เครื่องสำหรับจองใช้ออก Internet</td>
                        </tr>
                        <tr>
                            <td>Zone S1-S10</td>
                            <td>เครื่องเปล่า</td>
                        </tr>
                    </tbody>
                </table>
            </div> -->

        </div>
    </div>

