body {
  
    text-align: left;
  }
   
  
.bg-primary {background-color: #1c84c6 !important;}
.bg-danger {background-color: #E43927 !important;}
.textbtn{

  text-align: center;

}
.tab-content{
  padding:20px;
}
